<div class="vh-100 container d-flex flex-column align-items-center justify-content-center">
  <div class="">
    <%= image_tag "plan-it-4.png", class:"mx-auto d-block my-3" %>
    <h2 class="text-light my-3 text-center fs-5"><%= t(".sign_up") %></h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field my-3">
        <%= f.label :first_name, class:"text-start fs-6 fw-bold" %><br />
        <%= f.text_field :first_name,required: false, autofocus: true, class:"border-1 rounded-3 border-light fs-5 py-2 ps-3 pe-4 w-100 text-light", autocomplete: "first_name" %>
      </div>

      <div class="field my-3">
        <%= f.label :email, class:"text-start fs-6 fw-bold" %><br />
        <%= f.email_field :email, autofocus: true, class:"border-1 rounded-3 border-light fs-5 py-2 ps-3 pe-4 w-100 text-light", autocomplete: "email" %>
      </div>
      
      <div class="field my-3">
        <%= f.label :phone_number, class:"text-start fs-6 fw-bold" %><br />
        <%= f.telephone_field :phone_number, autofocus: true, class:"border-1 rounded-3 border-light fs-5 py-2 ps-3 pe-4 w-100 text-light", autocomplete: "phone_number" %>
      </div>

      <div class="field my-3">
        <%= f.label :password, class:"text-start fs-6 fw-bold" %>
        <%= f.password_field :password, class:"border-1 rounded-3 border-light fs-5 py-2 ps-3 pe-4 w-100 text-light", autocomplete: "new-password", placeholder: "#{ t("devise.shared.minimum_password_length", count: @minimum_password_length)}" %>
      </div>

      <div class="actions my-3">
        <%= f.submit t(".sign_up"), class:"btn btn-info fs-5 fw-bold w-100" %>
      </div>
    <% end %>
    </div>
    <div class="text-center">
      <p class="fs-6 m-auto w-75 p-1 text-dark">Al registrarte aceptas los <span class="text-decoration-underline">Términos y Condiciones</span> y nuestra Política de Privacidad</p>
      <%= render "devise/shared/links" %>
    </div>
</div>
