<div class="vh-100 container d-flex flex-column align-items-center justify-content-center">
  <div class="">
    <%= image_tag 'plan-it-4.png', class:'mx-auto d-block my-3' %>
    <h5 class="text-light my-3 text-center fs-5">Edita tus datos</h5>
    <div class="">
      <%= simple_form_for current_user do |f| %>
      <div class="form-row ">
        <%= f.input :first_name, wrapper_html: { class:'border-1 rounded-3 border-light fs-5 py-2 ps-3 pe-4 w-100 text-light', autofocus: true } %>
        <%= f.input :last_name, wrapper_html: { class:'border-1 rounded-3 border-light fs-5 py-2 ps-3 pe-4 w-100 text-light', autofocus: true } %>
      </div>
      <div class="">
        <%= f.input :address , wrapper_html: { class:'border-1 rounded-3 border-light fs-5 py-2 ps-3 pe-4 w-100 text-light' } %>
        <%= f.input :phone_number, wrapper_html: { class:'border-1 rounded-3 border-light fs-5 py-2 ps-3 pe-4 w-100 text-light' } %>
      </div>
        <%= f.button :submit, class:'btn btn-info fs-5 fw-bold w-100'%>
      <% end %>

      <div class="text-center">
        <%= link_to t('devise.shared.links.back'), :back %>
      </div>
    </div>
  </div>
</div>
