<header>
  <%= render 'shared/navbar' %>
</header>
<div class="bg-success h-100">
  <section class="container w-75 bg-white">
    <h3 class="fw-bold col-10 mx-auto my-3">Mis Compras</h3>
    <div class="row d-flex justify-content-around">
      <% @orders.each do |order| %>
        <div class="border border-warning rounded-3 shadow col-sm-12 col-md-5 col-lg-4 m-2">
          <div class="card-title">
            <div class="d-flex flex-row">    
              <div class="mt-3">
                <%= cl_image_tag order.service.photo.key, class:'rounded icon-background' %>
              </div>
              <div class="ms-2 mt-2">
                <div class="">
                  <h5 class="fs-4 fw-bold m-1"><%= order.service.supplier.name %></h5>
                </div>
                <div class="d-flex flex-row">
                  <i class="<%= order.home_delivery? ? 'fas fa-truck' : 'fas fa-home' %> ms-1 text-info pe-1 my-auto" ></i>
                  <p class="fs-6 m-1 text-dark fw-bold"><%= order.home_delivery? ? 'Entrega a domicilio' : 'Retiro por sucursal' %></p>
                </div>
                <div class="d-flex flex-row justify-content-between ms-1">
                  <div class="my-3">
                    <h6 class="fs-5 fw-bold m-0 p-0"><%= order.service.name %></h6>
                    <h6 class="fs-6 fw-normal m-0 p-0 text-truncate w-75"><%= order.service.description %></h6>
                    <%= link_to  "Ver detalles", order_path(order), class:" text-dark fs-6 fw-bold" %>
                  </div>  
                </div>
              </div>
            </div>
            <div class="border-warning border-top mx-auto px-3 py-2 d-flex align-items-center justify-content-between">
              <div class="d-flex flex-row">
                <h5 class="fs-4 fw-bold me-2">Total:</h5>
                <h5 class="fs-4 fw-bold"><%= order.quantity * order.service.price %></h5>
              </div>
              <h4 class="fs-6 fw-bold"><%= order.status %></h4>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </section>
</div>
