<header>
  <%= render 'shared/navbar' %>
</header>
<section class="container mt-5 w-75">
  <%= render 'shared/categories' %>
</section>
<section class="container my-5">
  <div class="row d-flex justify-content-around">
    <% @suppliers.each do |supplier| %>
      <div class="col-6 col-md-3 card shadow border border-2 rounded-3 d-flex flex-column">
        <div class="card-title d-flex mt-2">
          <%= cl_image_tag supplier.photo.key, class:' photo-background m-auto rounded-top' %>
        </div>
        <div class="mx-2 mb-1 mt-0">
          <h5 class="fw-bold fs-4 m-0"><%=  supplier.name %></h5>
          <h6 class="fs-6 m-0 mt-2"><%= supplier.offers %></h6>
          <div class="d-flex flex-row mt-2">
            <i class="<%= icon(supplier) %> pe-2 pt-1" ></i>
            <p class="fs-6"><%= supplier.delivery? ? 'Entrega a domicilio' : 'Retiro por sucursal' %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</section>