
<div class="bg-success h-100">
  <header class='container w-75 p-0 bannerimage'>
    <%= cl_image_tag @supplier.photo.key, class:'' %>
  </header>
  <section class='container w-75 bg-white'>
    <div class="container mx-2 ">  
      <div class="py-3">
        <h4 class='fw-bold m-0 p-0'><%= @supplier.name %></h4>
        <p class='fs-6 text-dark m-0 p-0'><%= @supplier.address %></p>
      </div>
      <p class='fs-6 text-dark'><%= @supplier.description %></p>
      <div class="py-2">
        <p class=" my-auto"><i class="fas fa-clock text-info pe-2 pt-1"></i> Lun a Sáb <%= @supplier.opens_at %>:00hs - <%= @supplier.close_at %>:00hs</p>
        <div class="d-flex flex-row">
          <i class="<%= @supplier.delivery? ? 'fas fa-truck' : 'fas fa-home' %> text-info pe-2 my-auto" ></i>
          <p class="fs-6 m-1"><%= @supplier.delivery? ? 'Entrega a domicilio' : 'Retiro por sucursal' %></p>
        </div>
      </div>
    </div>
  </section>
  <section class="container w-75 py-4 bg-white">
    <div class="container mx-2">  
      <div class="row d-flex  justify-content-between">
        <% @services.each do |service| %>
          <div class="col-12 col-md-6 pt-2">
            <%= link_to service_path(service), class:'text-decoration-none text-secondary' do %>
              <div class="d-flex flex-row">
                <div class="col pb-3 border-bottom d-flex flex-column justify-content-between">
                  <div class="text-truncate">
                    <h5 class='fs-5 fw-bold p-0 m-0'><%= service.name %></h5>
                    <p class="fs-6 fw-normal p-0 d-inline-block d-inline-block text-truncate" style="max-width: 150px;"><%= service.description %></p>
                  </div>
                  <h5 class='fs-5 p-0 m-0'><strong>$<%= service.price %></strong> x invitado</h5>
                </div>
                <div class="col d-flex pb-3 border-bottom flex-row-reverse">
                  <%= cl_image_tag service.photo.key, class:'shadow-sm w-50 float-end rounded' %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </section>
</div>